$white: #fff;
$primary: (
  BrightBlue: hsl(220, 98%, 61%),
  CheckBackground: linear-gradient(136.55deg, #57ddff 8.75%, #c058f3 89.25%),
);

$lightTheme: (
  VeryLightGray: hsl(0, 0%, 98%),
  VeryLightGrayishBlue: hsl(236, 33%, 92%),
  LightGrayishBlue: hsl(233, 11%, 84%),
  DarkGrayishBlue: hsl(236, 9%, 61%),
  VeryDarkGrayishBlue: hsl(235, 19%, 35%),
);
$DarkTheme: (
  VeryDarkBlue: hsl(235, 21%, 11%),
  VeryDarkDesaturatedBlue: hsl(235, 24%, 19%),
  LightGrayishBlue: hsl(234, 39%, 85%),
  LightGrayishBlueHover: hsl(236, 33%, 92%),
  DarkGrayishBlue: hsl(234, 11%, 52%),
  VeryDarkGrayishBlue: hsl(233, 14%, 35%),
);
@function color($arg1, $agr2) {
  @return map-get($arg1, $agr2);
}
