@mixin taskComponent($mb: 0, $br: 0, $bc: #fff) {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  column-gap: 12px;
  border-radius: $br;
  margin-bottom: $mb;
  background-color: $bc;
}
